source http://nuget.org/api/v2

nuget Aether ~> 8
nuget Anat   ~> 1.0.0-b
nuget Hekate ~> 3.2

group Build

  source http://nuget.org/api/v2

  nuget Fake
  github xyncro/build build.fsx
  
group Test

  framework: >= net45
  source http://nuget.org/api/v2

  nuget Unquote
  nuget xunit
  nuget xunit.runner.console

