group Common

  source http://nuget.org/api/v2

  nuget Aether ~> 8.1
  nuget Anat   ~> 1
  nuget Hekate ~> 3.2

group Hopac

  source http://nuget.org/api/v2

  nuget Hopac  ~> 0

group Build

  source http://nuget.org/api/v2

  nuget Fake
  github xyncro/build build.fsx

