type project
id
    Hephaestus.Hopac
title
    Hephaestus.Hopac
description
    Graph based protocol machines in F#
tags
    protocol machine f# functional graphs
version
    2.0.0
owners
    Andrew Cherry
authors
    Andrew Cherry
copyright
    Copyright Xyncro Ltd 2016
projectUrl
    https://xyncro.tech/hephaestus
licenseUrl
    https://github.com/xyncro/hephaestus/blob/master/LICENSE.md
requireLicenseAcceptance
    false
